*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/gradle/wrapper/
/app/src/androidTest/java/com/cc/localcrashreporter/
/library/src/androidTest/java/com/library/
/library/src/test/java/com/library/
